

body{
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a{
    color: #0a534a;
    text-decoration: none;
}

a:hover{
    color:#107b6e;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  margin-top: 50px;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
/* I will add it later*/


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #F8f9fa;
    box-shadow: 0px 0px 25px 0 rgba(8, 110, 141, 0);
    z-index: 999;
    padding: 12px 0;
}

#header .logo{
    font-size: 32px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 992px) {
    #header .logo {
      font-size: 28px;
    }
}
  

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/

.header-social-links{
    padding-right: 15px;
}

.header-social-links a{
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: all 0.3s ease-in-out;
    font-size: 17px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar{
    padding: 0;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    position: relative;
    padding: 10px 0px 10px 28px;
}

.navbar a, .navbar a:focus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-family: 600;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}


.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #107b6e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 30px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #222222;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
    padding: 0;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #34b7a7;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

  
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  /**
* Mobile Navigation 
*/

.mobile-nav-toggle{
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
  
obile-nav-toggle.bi-x {
    color: #ffffff;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  
.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 15px;
  padding-right: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #34b7a7;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
/*   background: url("../img/night.jpg") top right;
  background-size: cover;
  overflow: hidden; */
}

#hero .container {
  padding-top: 70px;
  position: relative;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #000;
}

#hero h2 {
  color: #0a534a;
  margin: 10px 0 0 0;
  font-size: 22px;
}
#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #0a534a;
  background: #34b7a7;
}

#hero .btn-about:hover {
  background: #3dc8b7;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}


@media (max-width: 992px) {
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -60px;
    top: 0px;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    color: #9c9c9c;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 55px 0;
}

.section-bg {
  background-color: #e7f8f6;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #107b6e;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #F8f9fa;
  padding: 12px 0;
  color: #222222;
  font-size: 14px;
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #107b6e;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #000;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #34b7a7;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f3f3f3;
}

.skills .progress-bar {
  width: 1px;
  height: 8px;
  transition: 0.9s;
  background-color: #34b7a7;
}



/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #222222;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0e7367;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #1d685f;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #34b7a7;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
}



/*--------------------------------------------------------------
# Project section styles
--------------------------------------------------------------*/

.projects{
  margin-top: 0px;
  margin-bottom: 0px;
}
.projects .project-name {
  padding: 30px;
  transition: all ease-in-out 0.3s;
  background: var(225,225,225);
  height: 100%;
}
.projects .project-name .icon {
  margin-bottom: 10px;
}

.projects .project-name .icon i {
  color: #0e7367;
  font-size: 35px;
  transition: 0.3s;
}
.projects .project-name h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}

.projects .project-name h4 a {
  color: #485664;;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.projects .project-name p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.projects .project-name:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(72,87,100, 0.1);
}

.projects .project-name:hover i, h4 a{
  color: #3dc8b7;
}

/* contact */



.contact .info {
  padding: 40px;
  box-shadow: 0px 2px 15px rgba(72,87,100, 0.1);
  overflow: hidden;
}

.contact .info h3 {
  font-weight: 600;
  font-size: 24px;
}

.contact .info p {
  color: #8f9fae;
  margin-bottom: 30px;
  font-size: 15px;
}

.contact .info-item+.info-item {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(72, 86, 100, 0.15);
}

.contact .info-item i {
  font-size: 24px;
  color: #1d685f;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #485664;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #8f9fae;
}

.contact .submit-form .form-group {
  padding-bottom: 8px;
}

.contact .submit-form .error-message {
  display: none;
  color: #fff;
  background: red;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .submit-form .error-message br+br {
  margin-top: 25px;
}

.contact .submit-form .sent-message {
  display: none;
  color: var(--color-white);
  background: var(--color-green);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .submit-form .loading {
  display: none;
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.contact .submit-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-green);
  border-top-color: var(--color-white);
  animation: animate-loading 1s linear infinite;
}

.contact .submit-form input[type=text],
.contact .submit-form input[type=email],
.contact .submit-form textarea {
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
}

.contact .submit-form input[type=text]:focus,
.contact .submit-form input[type=email]:focus,
.contact .submit-form textarea:focus {
  border-color: var(--color-secondary-light);
}

.contact .submit-form input[type=text],
.contact .submit-form input[type=email] {
  height: 48px;
  padding: 10px 15px;
}

.contact .submit-form textarea {
  padding: 10px 12px;
  height: 290px;
}


.contact .submit-form button[type=submit] {
  background: rgb(1, 1, 1);
  border: 0;
  padding: 13px 30px;
  color: rgb(0, 0, 0);
  background-color: #34b7a7;
  transition: 0.4s;
  border-radius: 10px;
}

.text-center {
  font-size: 15px;
  border-radius: 10px;
}

.contact .submit-form button[type=submit]:hover {
  
  background-color: #3dc8b7;
}

@keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
